.modal {
    .modal-dialog {
        .modal-content {
            .confirm {
                padding: 0px;

                .confirm-modal {
                    width: 100%;
                    background-color: #f5f5f5 !important;

                    .confirm-text {
                        font-size: 15px;
                        padding: 8px 20px;
                        background: none !important;
                        border: none !important;
                        max-height: 500px;
                        overflow-y: scroll;

                        .confirm-content {
                            background-color: white !important;
                            border-radius: 4px;

                            .header {
                                font-size: 15px;
                                margin: 10px 0px;
                            }
                        }
                    }

                    .confirm-footer {
                        padding: 4px;
                        text-align: right;
                        background: white;
                    }
                }
            }
        }
    }
}